*{
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

html, body{
  font-size: 16px;
  margin: auto;
  padding: 0;
  height: 100%;
}
.form-div{
  height: 50vh;
  width: 50%; 
  display: flex;
  margin: 10% auto; 
  flex-direction: column;
}
.login-form{
  margin: auto;
  width: 55%;
}

.register-link{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: red;
  font-size: 0.9rem;
  margin: 5px auto;
}

.contact-table-div{
  width: 75%;
  margin: 4% auto auto;
}

.btn-add-abs{
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  outline: none;
  border: none;
}

.btn-add-abs:hover{
  background-color:rgb(6, 138, 105);
}

textarea{
  resize: none;
}

.remove-btn{
  display: block !important; 
  margin: auto !important;
}

.alert-div{
  display: none;
  width: 75%;
  height: auto;
  margin: auto auto 0;
}

.alerta{
  margin: auto;
}